<html data-ng-app="mancala">
<head>
    <meta charset="utf-8">
    <title>Mancala Game</title>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script src="js/home.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body data-ng-controller="gameController">
<section id="game" class="game">
    <h1>MANCALA GAME</h1>
    </div>
    <div>
        <h1 class="one">Player One</h1>
    </div>
    <section class="board">
        <section class="rowOne">
            <ul id="playerOne" class="player-row-container">
                <li><div class="pit pit-home">{{gameBoard.pits[7].currentNumberOfStones}}</div></li>
                <li><div class="pit" ng-click="play(1,6)">{{gameBoard.pits[6].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(1,5)">{{gameBoard.pits[5].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(1,4)">{{gameBoard.pits[4].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(1,3)">{{gameBoard.pits[3].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(1,2)">{{gameBoard.pits[2].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(1,1)">{{gameBoard.pits[1].currentNumberOfStones}}</div>
            </ul>
        </section>
        <section class="rowTwo">

            <ul id="playerTwo" class="player-row-container">
                <li><div class="pit" ng-click="play(2,8)">{{gameBoard.pits[8].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(2,9)">{{gameBoard.pits[9].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(2,10)">{{gameBoard.pits[10].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(2,11)">{{gameBoard.pits[11].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(2,12)">{{gameBoard.pits[12].currentNumberOfStones}}</div>
                <li><div class="pit" ng-click="play(2,13)">{{gameBoard.pits[13].currentNumberOfStones}}</div>
                <li><div class="pit pit-home">{{gameBoard.pits[14].currentNumberOfStones}}</div></li>
            </ul>

        </section>
        <div>
            <h1 class="two">Player Two</h1>
        </div>

        <div>
            <button class="btn btn-success" ng-click="startGame()">Start Game</button>
        </div>
    </section>

</section>

</body>
</html>
<script>

</script>

</html>

