body {
  background-color: #ccc;
}
.game {
  width: 800px;
  height: 600px;
  background-color: #90EE90;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.board {
  height: 100%;
  margin-top: 0%;
  margin-left: 10%;
}
.pit {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: #CD853F;
}
.player-row-container {
  list-style: none;
}
.player-row-container li {
  float: left;
  margin: 0 2px;
}
.rowOne {
  padding-top: 5px;
  clear: both;
}
.rowTwo {
  padding-top: 5px;
  clear: both;
  padding-left: 78px;
}
.pit-home {
  float: left;
  width: 70px;
  height:70px;
  font-size: 40px;

}
.two{
  clear: both;
  padding-left: 134px;
  padding-top: 14px;
  font-size: 30px;
  margin-bottom: 0px;
  color: #FF0000;
}
.pointsTwo{
  padding-left: 135px;
  font-size: 24px;
  margin-top: 2px;
  color: #FF0000;
}
.one{
  width: 300px;
  font-size: 30px;
  margin-bottom: 0px;
  color: blue;
}
.pointsOne{
  width: 300px;
  margin-top: 0px;
  color: blue;
}